*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
}

body{
	font-family: 'Open Sans', sans-serif;
}

header{
	width: 100%;
	background-color: black;
	display: flex;
}

.header__logo{
	text-transform: uppercase;
	color: #fff;
	font-size: 24px;
	font-weight: 800;
	cursor: pointer;
	margin-top: 56px;
	margin-left: 12%;
}

nav{
	margin-top: 56px;
	margin-left: 29%;
	z-index: 1;
}

.topnav a{
	color: #fff;
	text-align: center;
	padding: 12px 16px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.topnav a:hover{
	border-bottom: 3px solid #fcac45;
}

main{
	display: flex;
	flex-direction: column;
	width: 100%;
}

main .main__welcome{
	background: #000;
	text-align: center;
	padding: 200px 0 410px 0;
}

main .main__welcome p{
	color: #999999;
	font-size: 20px;
}

main .main__welcome h1{
	color: #999999;
	font-size: 44px;
}

.mycompany{
	color: #fcac45;
}

.wrapper{
	width: 100%;
	margin: 0 auto;
}
main .main_about{
	display: flex;
	padding: 100px 0 100px 0;
	margin-left: 300px;
}

.about_right{
	margin-left: 200px;
}

.about_right h1{
	display: inline-block;
	border-bottom: 3px solid #fcac45;
	padding-bottom: 20px;
	font-size: 44px;
	font-style: normal;
}

.about_right p{
	margin: 30px 0 50px 0;
	color: #6c6c6c;
	padding-top: 3px;
}

.about_right li{
	margin-top: 5px;
}

.bold{
	font-weight: bold;
}

.italic{
	font-style: italic;
	color: #6c6c6c;
}

.main__team{
	width: 100%;
	background: #000;
	text-align: center;
	padding: 100px 0 165px 0;
	color: #fff;
}

.main__team h1{
	font-size: 44px;
	padding-bottom: 30px;
}

.line{
	width: 100px;
	height: 3px;
	background: #fcac45;
	position: relative;
	left: 47.5%;
	margin-bottom: 85px;
}

.photo{
	background: #d7d7d7;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	margin: 20px auto;
}

.team__cards{
	display: flex;
	margin: 0 50px 0 50px;
	margin: 20px auto;
}

.team__cards p{
 	margin: 0px 30px 0 30px;
}

.team__card h4{
	font-size: 16px;
}

.about__position{
	padding-top: 35px;
}

.main__services{
	width: 100
	background: #fff;
	text-align: center;
	padding: 100px 0 165px 0;
	color: #000;
}

.main__services h1{
	font-size: 44px;
}

.line_two{
	width: 100px;
	height: 3px;
	background: #fcac45;
	position: relative;
	left: 47.5%;
	margin-top: 20px;
	margin-bottom: 85px;
}

.main__text p{
	color: #999999;
}

.name_two{
	font-size: 24px;
}

.photo_two{
	background: #fff;
	width: 125px;
	height: 125px;
	border: 5px solid #fcac45;
	border-radius: 50%;
	margin: 20px auto;
}

.jobs{
	display: flex;
	padding-top: 80px;
}

.jobs_now p{
	padding-top: 35px;
	color: #999999;
	margin: 15px 30px 0 30px;
}

.main_clients{
	width: 100%;
	height: 500px;
	background: #000;
	text-align: center;
	padding: 100px 0 165px 0;
	color: #000;
}

.main_clients h1{
	font-size: 44px;
	color: #fff;
	padding-top: 50px;
}

.three{
	font-weight: normal;
}

.line_three{
	width: 100px;
	height: 3px;
	background: #fcac45;
	position: relative;
	left: 47.5%;
	margin-top: 20px;
	margin-bottom: 85px;
}
.firm{
	margin-left: 16px;
	padding-top: 100px;
}

.gallary{
	width: 100%;
	height: 500px;
	background: #fff;
	text-align: center;
	padding: 100px 0 165px 0;
	color: #000;
}

.gallary h1{
	font-size: 44px;
	color: #000;
	padding-top: 100px;
	padding-bottom: 30px;
}

.gallary p{
	margin: 0 200px 0 200px;
	font-style: italic;
	color: #999999;
	font-size: 16px;
}


.four{
	font-weight: normal;
}

.about__photos{
	display: flex;
	justify-content: center;
}

.photos{
	margin-top: 20px;
	padding-bottom: 100px;
}

.image{
	margin: 0 15px 15px 15px;
}

.image:hover{
	opacity: 0.9;
}

.testi{
	width: 100%;
	height: auto;
	background: #000;
	text-align: center;
	padding: 100px 0 165px 0;
	color: #000;
}

.testi h1{
	color: #fff;
	padding-bottom: 30px;
}

.testi p{
	color: #fff;
	font-weight: bold;
	margin: 0 280px 0 280px;
}

.testi span{
	font-weight: normal;
}

.ceo{
	padding-top: 50px;
}

.contact__wrapper{
	width: 753px;
	margin: 0 auto;
	color: #636363;
}

input{
	width: 360px;
	height: 40px;
	font-size: 20px;
	margin-bottom: 30px;
}

.red{
	color: red;
}

.form__inputs{
	display: flex;
	margin-top: 100px;
}

textarea{
	width: 100%;
	height: 163px;
}

input, textarea{
	border: 1px solid #999999;
	margin-top: 5px;
}

input:first-of-type{
	margin-right: 23px;
}

.buttom_block{
	display: flex;
	justify-content: flex-end;
}

input[type=submit]{
	width: 165px;
	height: 40px;
	background: #fcac45;
	color: #fff;
	margin-right: 0;
	margin-top: 20px;
}

.header__contact{
	width: 100%;
	background: #fff;
	text-align: center;
	color: #000;
}

.header__contact h1{
	padding: 30px 0 30px 0;
	font-size: 44px;
}

.header__contact p{
	color: #999999;
}

footer{
	width: 100%;
	height: auto;
}

.social{
	display: flex;
	justify-content: center;
	background: #222222;
	padding: 30px 0 30px 0;
}

.social img{
	margin-right: 10px;
}

.social img:hover{
	opacity: 0.6;
}
